/* .project {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 12px;
  width: clamp(250px, 50%, 350px);
  height: 150px;
  text-align: center;
}

.image-and-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
