@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #d6d6d6;

  background-image: radial-gradient(
    #414141 1.2000000000000002px,
    #191919 1.2000000000000002px
  );
  background-size: 24px 24px;

  color: #d6d6d6;

  /* background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    ); */

  background-color: #131313;
  background-size: 20px 20px;
}

.link-hover {
  @apply hover:text-lighterAccent transition-all;
}

.text-box {
  @apply px-6 py-4 rounded-md border-8 border-double border-accent bg-zinc-700 text-slate-100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .section-header {
    font-size: 30px;
    font-size: clamp(1.4rem, 3vw, 2.4rem);
    font-weight: 900;
    text-wrap: stable;
    margin-bottom: 20px;
    text-align: center;
  }

  .responsive-header {
    font-size: clamp(1.7rem, 3vw, 2.6rem);
  }

  .responsive-text {
    font-size: clamp(1rem, 2.5vw, 1.3rem);
  }

  .project-text {
    font-size: clamp(0.8rem, 2.5vw, 0.9rem);
  }

  .project-header {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
  }

  .list-plus {
    color: #b0f2f7;
    margin-left: 16px;
    font-size: 16px;
  }

  .blurred-backdrop {
    background-color: rgba(224, 165, 27, 0.7);
    -webkit-backdrop-filter: blur(4px) !important;
    backdrop-filter: blur(4px) !important;
  }
}
