@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;

  background-image: radial-gradient(
    #414141 1.2000000000000002px,
    #191919 1.2000000000000002px
  );
  background-size: 24px 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
